.form-avatar {
  float: left;
  height: 200px;
  width: 200px;
  margin-right: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  overflow: hidden;

  img {
    height: 200px;
    display: block;
    margin: 0 auto;
  }
}
